<div class="row">
    <div class="col-lg-3">
        <div class="card bg-primary-subtle shadow-none w-100">
            <div class="card-body">
                <div class="d-flex mb-10 pb-1 justify-content-between align-items-center">
                    <div class="d-flex align-items-center gap-6">
                        <div class=" text-white rounded-circle-shape bg-primary px-3 py-2 rounded-pill d-inline-flex align-items-center justify-content-center "
                            style="--icon-stroke: 2; --icon-color: currentColor;"><span><svg
                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="icon icon-tabler icons-tabler-outline icon-tabler-history">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M12 8l0 4l2 2"></path>
                                    <path d="M3.05 11a9 9 0 1 1 .5 4m-.5 5v-5h5"></path>
                                </svg></span></div>
                        <h6 class="mb-0 fs-4 fw-medium text-muted">
                            Hôm nay
                        </h6>
                    </div>

                </div>
                <div class="row align-items-end justify-content-between">
                    <div class="col-5">
                        <h2 id="cons_today" class="mb-6 fs-3">4,562 kwh</h2>
                        <span id="cost_today"
                            class="badge rounded-pill border border-muted fw-bold text-muted fs-2 py-1">100
                            VND</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card bg-primary-subtle shadow-none w-100">
            <div class="card-body">
                <div class="d-flex mb-10 pb-1 justify-content-between align-items-center">
                    <div class="d-flex align-items-center gap-6">
                        <div
                            class="rounded-circle-shape bg-danger px-3 py-2 rounded-pill d-inline-flex align-items-center justify-content-center">
                            <div class="text-white rounded-circle-shape bg-primary px-3 py-2 rounded-pill d-inline-flex align-items-center justify-content-center icon-preview"
                                style="--icon-stroke: 2; --icon-color: currentColor;"><span><svg
                                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round"
                                        class="icon icon-tabler icons-tabler-outline icon-tabler-calendar-month">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path
                                            d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z">
                                        </path>
                                        <path d="M16 3v4"></path>
                                        <path d="M8 3v4"></path>
                                        <path d="M4 11h16"></path>
                                        <path d="M7 14h.013"></path>
                                        <path d="M10.01 14h.005"></path>
                                        <path d="M13.01 14h.005"></path>
                                        <path d="M16.015 14h.005"></path>
                                        <path d="M13.015 17h.005"></path>
                                        <path d="M7.01 17h.005"></path>
                                        <path d="M10.01 17h.005"></path>
                                    </svg></span></div>
                        </div>
                        <h6 class="mb-0 fs-4 fw-medium text-muted">
                            Tháng này
                        </h6>
                    </div>

                </div>
                <div class="row align-items-end justify-content-between">
                    <div class="col-5">
                        <h2 id="cons_month" class="mb-6 fs-3">4,562 kwh</h2>
                        <span id="cost_month"
                            class="badge rounded-pill border border-muted fw-bold text-muted fs-2 py-1">100
                            VND</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card bg-primary-subtle shadow-none w-100">
            <div class="card-body">
                <div class="d-flex mb-10 pb-1 justify-content-between align-items-center">
                    <div class="d-flex align-items-center gap-6">
                        <div
                            class="rounded-circle-shape bg-danger px-3 py-2 rounded-pill d-inline-flex align-items-center justify-content-center">
                            <div class="text-white rounded-circle-shape bg-primary px-3 py-2 rounded-pill d-inline-flex align-items-center justify-content-center icon-preview"
                                style="--icon-stroke: 2; --icon-color: currentColor;"><span><svg
                                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round"
                                        class="icon icon-tabler icons-tabler-outline icon-tabler-calendar-time">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path
                                            d="M11.795 21h-6.795a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v4">
                                        </path>
                                        <path d="M18 18m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path>
                                        <path d="M15 3v4"></path>
                                        <path d="M7 3v4"></path>
                                        <path d="M3 11h16"></path>
                                        <path d="M18 16.496v1.504l1 1"></path>
                                    </svg></span></div>
                        </div>
                        <h6 class="mb-0 fs-4 fw-medium text-muted">
                            Năm này
                        </h6>
                    </div>

                </div>
                <div class="row align-items-end justify-content-between">
                    <div class="col-5">
                        <h2 id="cons_year" class="mb-6 fs-3">4,562 kwh</h2>
                        <span id="cost_year"
                            class="badge rounded-pill border border-muted fw-bold text-muted fs-2 py-1">100
                            VND</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card bg-success-subtle shadow-none w-100">
            <div class="card-body">
                <div class="d-flex mb-10 pb-1 justify-content-between align-items-center">
                    <div class="d-flex align-items-center gap-6">
                        <div
                            class="rounded-circle-shape bg-danger px-3 py-2 rounded-pill d-inline-flex align-items-center justify-content-center">
                            <div
                                class="text-white rounded-circle-shape bg-success px-3 py-2 rounded-pill d-inline-flex align-items-center justify-content-center icon-preview">
                                <span class="icon-item-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                        height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                        class="icon icon-tabler icons-tabler-outline icon-tabler-timezone">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M20.884 10.554a9 9 0 1 0 -10.337 10.328"></path>
                                        <path d="M3.6 9h16.8"></path>
                                        <path d="M3.6 15h6.9"></path>
                                        <path d="M11.5 3a17 17 0 0 0 -1.502 14.954"></path>
                                        <path d="M12.5 3a17 17 0 0 1 2.52 7.603"></path>
                                        <path d="M18 18m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path>
                                        <path d="M18 16.5v1.5l.5 .5"></path>
                                    </svg></span>
                            </div>
                        </div>
                        <h6 class="mb-0 fs-4 fw-medium text-muted">
                            Tổng
                        </h6>
                    </div>

                </div>
                <div class="row align-items-end justify-content-between">
                    <div class="col-5">
                        <h2 id="cons_total" class="mb-6 fs-3">4,562 kwh</h2>
                        <span id="cost_total"
                            class="badge rounded-pill border border-muted fw-bold text-muted fs-2 py-1">100
                            VND</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../assets/js/summary.js"></script>