<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MaterailM Free Bootstrap Admin Template by WrapPixel</title>
    <link rel="shortcut icon" type="image/png" href="../assets/images/logos/logo2.svg" />
    <link rel="stylesheet" href="../assets/css/styles.min.css" />
</head>

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed">
        <!-- Sidebar Start -->
        {% include 'layouts/left-sidebar.html' %}
        <!--  Sidebar End -->
        <!--  Main wrapper -->
        <div class="body-wrapper">
            <!--  Header Start -->
            {% include 'layouts/header.html' %}
            <!--  Header End -->
            <div class="body-wrapper-inner">
                <div class="container-fluid">

                    {% include 'layouts/summary.html' %}

                    <div id="signup-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="text-center mt-2 mb-4"> <a href="index.html" class="text-success">
                                            <span><img class="img-fluid" src="../assets/images/logos/logo2.svg"
                                                    alt=""></span> </a> </div>
                                    <form class="ps-3 pe-3 text-start" action="#" id="form_create_device">
                                        <div class="mb-3"> <label for="name">Tên thiết bị</label> <input
                                                class="form-control" type="text" id="name" required=""
                                                placeholder="Thiết bị 1"> </div>

                                        <div class="mb-3"> <label for="description">Mô tả </label> <input
                                                class="form-control" type="text" id="description"
                                                placeholder="Mô tả ngắn về thiết bị"> </div>
                                        <div class="mb-3 text-center"> <button class="btn btn-primary" type="submit">
                                                Submit </button> </div>
                                    </form>
                                </div>
                            </div> <!-- /.modal-content -->
                        </div> <!-- /.modal-dialog -->
                    </div> <!-- /.modal -->
                    <!-- <div class="row">
                        <link rel="stylesheet" href="https://bootstrapdemos.wrappixel.com/materialM/dist/assets/libs/quill/dist/quill.snow.css">
                        <div id="editor">
                            <p>Hello World!</p>
                            <p>Some initial <strong>bold</strong> text</p>
                            <p>
                                <br />
                            </p>

                        </div>
                        <script src="https://bootstrapdemos.wrappixel.com/materialM/dist/assets/libs/quill/dist/quill.min.js"></script>
                        <script
                            src="https://bootstrapdemos.wrappixel.com/materialM/dist/assets/js/forms/quill-init.js"></script>
                    </div> -->

                    <div class="row">
                        <div class="col-lg-8">
                            <h3>Danh sách thiết bị</h3>
                        </div>
                        <div class="col-lg-4">
                            <div class="navbar-nav flex-row ms-auto align-items-center justify-content-end mb-10">
                                <!-- <button id="btn_create_device" type="button"
                                    class="btn btn-outline-primary justify-content-end ">Thêm thiết bị</button> -->

                                <button type="button" class="btn mb-1 me-1 btn-outline-primary " data-bs-toggle="modal"
                                    data-bs-target="#signup-modal" fdprocessedid="mb0mrj"> Thêm thiết bị </button>
                            </div>
                            
                        </div>
                    </div>
                    <div class="row" id="device_ls">
                        <!-- <div class="col-lg-3 ">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Thiết bị số 1</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of
                                        the
                                        card's content.</p>
                                    <a href="#" class="card-link">Chi tiết</a>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/sidebarmenu.js"></script>
    <script src="../assets/js/app.min.js"></script>
    <script src="../assets/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="../assets/libs/simplebar/dist/simplebar.js"></script>
    <script src="../assets/js/device.js"></script>
    <!-- solar icons -->
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</body>

</html>